.aside {
  width: 3.5vw;
  min-width: 40px;
  background-color: var(--light-bg);
  color: white;
  box-sizing: border-box;
  position: fixed;
  height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside > div {
  display: flex;
  flex-direction: column;
}

.aside > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25% 15%;
  cursor: pointer;
}

.aside > div > a:hover {
  background: var(--sidebar-hover-bg);
}

.aside > div > a:hover .icon {
  filter: brightness(0) invert(1);
}

.icon {
  transition: filter 0.3s ease;
  height: 100%;
  width: 100%;
}

.selected {
  border-left: 2px solid var(--selected-tab);
}
